*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Oxanium", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
}
body{
    background-image: url(back.png);
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.head{
    position:fixed;
    z-index:100;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin:0.2vw 0.5vw 0vw;
    height:120px;
    width:98vw;
    background:transparent;
    backdrop-filter: blur(20px);
    border-radius:20px;
    border:3px solid white;
    box-shadow: 0px 5px 10px white;
}

.head>img{
    height:100px;
    width:100px;
    margin:10px;
    border-radius:20px;
    border:1px solid white;
}

.head>ul{
    display: flex;
    flex-direction: row;
    height:120px;
    width:400px;
    list-style-type:none;
    padding-top:40px;
    gap:60px;
}

.head>ul>li>a{
    font-size: 20px;
    color:white;
    background: transparent;
    border:none;
    text-decoration: none;
}

.head>ul>li>a:hover{
    text-decoration: underline;
}
.main{
    height:300vh;
    display:flex;
    flex-direction: column;
    position:absolute;
    top:120px;
}
.home-main{
    display: flex;
    flex-direction: row;
}
.home-main>img{
    height:600px;
    width:600px;
    mix-blend-mode:lighten;
}

.float{
    animation:floater 6s ease-out infinite;
}

.float::after{
    position:absolute;
    content:'';
    color:white;
    height:10px;
    width:10px;
}

@keyframes floater{
    0%{
        transform: translateY(35px);
    }
    25%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(45px);
    }
    75%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(40px);
    }
}

.title{
    margin-top:200px;
    height:50px;
    font-size:50px;
    color:white;
    display:flex;
    flex-direction: column;
}
.title:after {
    content:'';
    color:#C00;
    animation:write 10s linear infinite;
    animation-fill-mode: forwards;
  }
  
  @keyframes write {
   1%{
    content:'D';
   }
   2%{
    content:'De';
   }
   3%{
    content:'Des';
   }
   4%{
    content:'Desi';
   }
   6%{
    content:'Desig';
   }
   8%{
    content:'Design';
   }
   10%{
    content:'Desig';
   }
   12%{
    content:'Desi';
   }
   16%{
    content:'Des';
   }
   18%{
    content:'De';
   }
   20%{
    content:'D';
   }
   24%{
    content:'De';
   }
   26%{
    content:'Dev';
   }
   28%{
    content:'Deve';
   }
   30%{
    content:'Devel';
   }
   32%{
    content:'Develo';
   }
   34%{
    content:'Develop';
   }
   36%{
    content:'Develo';
   }
   38%{
    content:'Devel';
   }
   40%{
    content:'Deve';
   }
   42%{
    content:'Dev';
   }
   44%{
    content:'De';
   }
   46%{
    content:'D';
   }
   48%{
    content:'De';
   }
   50%{
    content:'Def';
   }
   52%{
    content:'Defi';
   }
   56%{
    content:'Defin';
   }
   58%{
    content:'Define';
   }
   60%{
    content:'Define ';
   }
   62%{
    content:'Define t';
   }
   64%{
    content:'Define th';
   }
   66%{
    content:'Define the';
   }
   70%{
    content:'Define the W';
   }
   74%{
    content:'Define the WO';
   }
   78%{
    content:'Define the WOR';
   }
   82%{
    content:'Define the WORL';
   }
   86%{
    content:'Define the WORLD';
   }
   90%{
    content:'Define the WOR';
   }
   92%{
    content:'Define the ';
   }
   94%{
    content:'Define ';
   }
   96%{
    content:'Defi';
   }
   98%{
    content:'De';
   }
   100%{
    content:'D';
   }
  }
.sec-main{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-align: center;
}
.autorotate{
    margin:80px;
    height:300px;
    width:300px;
    animation:auto-rotate;
    animation-timeline:view(); 
    mix-blend-mode: lighten;
}

@keyframes auto-rotate{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

.about-text{
    font-size:25px;
    color:white;
    margin:0px 40px;
    animation:autoshow;
    animation-timeline:view();
}

@keyframes autoshow{
    from{
        opacity:0;
        transform: translateY(80px) scale(0.3);
    }
    to{
        opacity:1;  
        transform: translateY(0px) scale(1.05);
    }
}

.cards{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:40px;
}

.about-cards{
    height:450px;
    width:380px;
    border:2px solid white;
    border-radius: 20%;
    background: transparent;
    backdrop-filter: blur(2px);
    box-shadow: 10px 10px 13px rgba(255,255,255,0.8);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-cards:hover{
    height:400px;
    width:370px;
    filter:greyscale(1) blur(10px);
}
.foot{
    position:absolute;
    color:white;
    top:300vh;
    height:25vh;
    width:100vw;
    display:flex;
    flex-direction: row;
    border:2px solid white;
    background:transparent;
    backdrop-filter: blur(20px);
}

.contact{
    display:flex;
    text-align: center;
    flex-direction: column;
    height:100%;
    width:50%;
}

.contact>span{
    margin-top:30px;
    font-size: 20px;

}

.socials{
    height:100%;
    width:50%;
    display:flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.fa {
    padding: 20px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color:white;
    border-radius: 20px;
  }

.fa:hover{
    background-color: grey;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}
